/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  /*
  max-width: 850px;
  margin: 0 auto;
  */
}

#app .card .card-image .card-title{
  /*font-weight: bold;*/
}

/*
@media #{$medium-and-up} {
  .card .card-image img{
  height: 150px;
  }
};
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0 !important;
}

/*
a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}
*/

#app .card .card-content .card-title.fix{
  line-height: 30px !important;
}

#app .card .card-title.fix{
  font-size: 16px !important;
  font-weight: bold !important;
}

#app .card-image .recipe-preview-img{
  height: 150px !important;
}

.inputLabelFix{
  font-size: 26px !important;
}
.selectLabelFix{
  font-size: 26px !important;
  margin-top: 20px !important;
}
#app div.card-action.link-router, #app div.link-router {
  /*height: 20px !important;*/
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.modal .modal-content .modal-preview-img{
  width: 100% !important;
  height: 150px !important;
}

 #app .comments-row{
   margin-bottom:0 !important;
 }